# Copy to .env in the deploy directory. Do not commit .env.

MAIN_DOMAIN=stream.breezeshot.com
MEDIA_DOMAIN=stream.breezeshot.com
MGMT_URL=https://stream.breezeshot.com/mgmt
MGMT_CLI_URL=https://stream.breezeshot.com/cli/
TEMPLATE_REPLACE=true
LISTEN_IP=YOUR_SERVER_IP
EXTERNAL_IP=YOUR_SERVER_IP

POSTGRES_USER=edumeet
POSTGRES_PASSWORD=CHANGE_ME
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME

MANAGEMENT_USERNAME=admin@example.com
MANAGEMENT_PASSWORD=CHANGE_ME
KEYCLOAK_ADMIN=admin@example.com
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME

SERVER_DEBUG=*
MGMT_DEBUG=*
MGMT_CLIENT_DEBUG=
MN_DEBUG=*

MEDIA_SECRET=CHANGE_ME
MN_EXTRA_PARAMS=--cert ./certs/edumeet-demo-cert.pem --key ./certs/edumeet-demo-key.pem
NODE_TLS_REJECT_UNAUTHORIZED=0

KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/conf/edumeet-demo-cert.pem
KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/conf/edumeet-demo-key.pem
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_METRICS_ENABLED=true
KC_HTTP_ENABLED=true
PROXY_ADDRESS_FORWARDING=true
KC_PROXY=edge

LISTEN_PORT=8443
RTC_MIN_PORT=40000
RTC_MAX_PORT=40249
BASEDIR=/app

GIT_SERVER=https://github.com
REPOSITORY=KTEngineer91
BRANCH=main
TAG=participants-count

EDUMEET_CLIENT=edumeet-client-fork
BRANCH_CLIENT=main
EDUMEET_SERVER=edumeet-room-server-fork
BRANCH_SERVER=participants-count
EDUMEET_MN_SERVER=edumeet-media-node-fork
BRANCH_MN_SERVER=main
EDUMEET_MGMT_SERVER=edumeet-management-server-fork
BRANCH_MGMT_SERVER=main
EDUMEET_MGMT_CLIENT=edumeet-management-client-fork
BRANCH_MGMT_CLIENT=main
BRANCH_CONFIG=update-branding

BREEZESHOT_API_URL=https://api.breezeshot.com
BREEZESHOT_API_TIMEOUT_MS=5000
